*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.title{
    font-size: 70px;
    padding: 20px;
    color: #a9a9a9;
    font-family: 'Black Ops One', cursive;
}
.screen{
    background: linear-gradient(to right, #5a3f37, #2c7744);
    height: 100vh;
    text-align: center;
}
.ship-board{
    margin: auto;
    display: grid;
    grid-template-columns: repeat(10, 40px);
    grid-template-rows: repeat(10, 40px);
    padding: 7px;
}
.move-board{
    margin: auto;
    display: grid;
    grid-template-columns: repeat(10, 40px);
    grid-template-rows: repeat(10, 40px);
    padding: 7px;
}
.game-boards{
    margin: auto;
    display: inline-block;
}
.tile{
    border: 1px solid #009966;
    background: #f0f8ff;
}
.tile1{
    border: 1px solid #009966;
    background: #f0f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tile:hover{
    background: #009966;
}
.ships{
    background: #556b2f;
    opacity: 0.5;
    height: 350px;
    width: 350px;
    position: absolute;
    top: 17%;
    left: 18%;
}
.ship > div{
    width: 40px;
    height: 40px;
    border: 1px solid rgb(146, 0, 0);
    background: #004d33;
}
.ship{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    width: calc(40px * var(--width, 1));
    height: calc(40px * var(--height, 1));
}
.destroyer{
    position: relative;
    left: 60%;
}
.submarine{
    position: relative;
    left: 45%;
}
.cruiser{
    position: relative;
    left: 30%;
}
.battleship{
    position: relative;
    left: 15%;
}
.carrier{
    position: relative;
}
.start-game{
    font-size: 25px;
    padding: 5px;
    position: absolute;
    left: 65%;
    top: 93%;
    background: none;
    color: #a9a9a9;
    border: none;
    font-family: 'Black Ops One', cursive;
}
.start-game:hover{
    color: #8b0000
}
.draggable.dragging{
    opacity: 0.5;
}
.hovering{
    background: black;
}
.populated{
    background: #004d33;
}
.placed{
    display: none;
}